<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cart</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="OneTech shop project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles/bootstrap4/bootstrap.min.css" />
    <link href="/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles/cart_styles.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles/cart_responsive.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script>
        let stripePublicKey = '<%= stripePublicKey %>'
    </script>
    <script src="/javascripts/js/payment.js"></script>
</head>

<body>
    <div class="super_container">
        <!-- Header -->
        <%- include("main/header/header"); %>

        <!-- Cart -->

        <%- include("cart/cartSection"); %>

        <!-- Footer -->

        <%- include("main/footer/footer"); %>

        <!-- Copyright -->

        <%- include("main/copyright/copyright"); %>
    </div>
    <script src="/javascript/js/jquery-3.3.1.min.js"></script>
    <script src="/stylesheets/styles/bootstrap4/popper.js"></script>
    <script src="/stylesheets/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/plugins/greensock/TweenMax.min.js"></script>
    <script src="/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="/javascript/js/cart_custom.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-auth.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase.js"></script>


    <script src="/javascripts/js/send_message_notification.js"></script>
    <script src="/javascripts/js/add_to_cart.js"></script>
</body>

</html>