<!DOCTYPE html>
<html lang="en">


<head>
    <title>Contact</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles/contact_styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles/contact_responsive.css">

</head>

<body>

    <div class="super_container">

        <!-- Header -->

        <%- include("main/header/header"); %>

            <!-- Contact Info -->

            <%- include("contact/contactInfo"); %>

                <!-- Footer -->

                <%- include("main/footer/footer"); %>

                    <!-- Copyright -->

                    <%- include("main/copyright/copyright"); %>
    </div>

    <script src="/javascripts/js/jquery-3.3.1.min.js"></script>
    <script src="/stylesheets/styles/bootstrap4/popper.js"></script>
    <script src="/stylesheets/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/plugins/greensock/TweenMax.min.js"></script>
    <script src="/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
    <script src="/javascripts/js/contact_custom.js"></script>
    <script src="/javascripts/js/add_to_cart.js"></script>
</body>

</html>