<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 footer_col">
                <div class="footer_column footer_contact">
                    <div class="logo_container">
                        <div class="logo"><a href="#">OneTech</a></div>
                    </div>
                    <div class="footer_title">Got Question? Call Us 24/7</div>
                    <div class="footer_phone">+84 37 903 5252</div>
                    <div class="footer_contact_text">
                        <p>18 Ung Van Khiem, </p>
                        <p>Dong Xuyen Ward, Long Xuyen City</p>
                        <p>An Giang, Viet Nam</p>
                    </div>
                    <div class="footer_social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-google"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 offset-lg-2">
                <div class="footer_column">
                    <div class="footer_title">Find it Fast</div>
                    <ul class="footer_list">
                        <li><a href="#listOfProduct">Products</a></li>
                        <li><a href="#topMenu">Brands</a></li>
                        <li><a href="#topMenu">Categories</a></li>
                        <li><a href="#topMenu">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer_column">
                    <ul class="footer_list footer_list_2">
                        <li><a href="#">Video Games & Consoles</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Cameras & Photos</a></li>
                        <li><a href="#">Hardware</a></li>
                        <li><a href="#">Computers & Laptops</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer_column">
                    <div class="footer_title">Customer Care</div>
                    <ul class="footer_list">
                        <li><a href="tel:0379035252">Call To Buy</a></li>
                        <li><a href="tel:0379035252">Call Ordering</a></li>
                        <li><a href="tel:0379035252">Call Warranty</a></li>
                        <li><a href="tel:0379035252">Customer Services</a></li>
                        <li><a href="tel:0379035252">Returns / Exchange</a></li>
                        <li><a href="tel:0379035252">Advisory</a></li>
                        <li><a href="tel:0379035252">Product Support</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>