<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <!-- Custom fonts for this template-->
    <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <%- include("../sidebar/sidebar"); %>
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <%- include("../topbar/topbar"); %>

                    <!-- Main Content -->
                    <div id="content">
                        <div class="super_container">
                            <header class="header">
                                <!-- Header Main -->
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                                            <div class="card card-signin my-5">
                                                <div class="card-body">
                                                    <% if(errors != "") { %>
                                                        <% errors.forEach((item) => { %>
                                                            <div class="alert alert-danger">
                                                                <%-item%>
                                                            </div>
                                                            <% });%>
                                                                <% } %>
                                                                    <h5 class="card-title text-center">Add Product</h5>
                                                                    <form class="form-signin" method="POST" enctype="multipart/form-data">
                                                                        <div class="form-label-group">
                                                                            <label for="inputProductName">Product Name</label>
                                                                            <input type="text" id="inputProductName" class="form-control" name="productName" required autofocus>
                                                                        </div>
                                                                        <div class="form-label-group">
                                                                            <label for="inputProductColor">Color</label>
                                                                            <input type="text" id="inputProductColor" class="form-control" name="color" required>
                                                                        </div>
                                                                        <div class="form-label-group">
                                                                            <label for="inputProductImage">Image</label>
                                                                            <input type="file" id="inputProductImage" required class="form-control" name="image">
                                                                        </div>
                                                                        <div class="form-label-group">
                                                                            <label for="inputProductDescription">Description</label>
                                                                            <textarea name="description" id="editor" cols="30" rows="10"></textarea>                  
                                                                            <!-- <input type="text" id="inputProductDescription" class="form-control" name="description" required> -->
                                                                        </div>
                                                                        <div class="form-label-group mt-3">
                                                                            <label for="inputProductPrice">Price</label>
                                                                            <input type="text" id="inputProductPrice" class="form-control" name="price" required>
                                                                        </div>
                                                                        <div class="form-label-group">
                                                                            <label for="inputPromotion">Promotion</label>
                                                                            <input type="text" id="inputPromotion" class="form-control" name="promotion" required>
                                                                        </div>
                                                                        <div class="form-label-group">
                                                                            <label for="inputCountry">Country</label>
                                                                            <input type="text" id="inputCountry" class="form-control" name="country" required>
                                                                        </div>
                                                                        <div class="d-flex align-items-center mt-3">
                                                                            <div class="input-group form-label-group d-flex align-items-center">
                                                                                <div class="input-group-prepend">
                                                                                    <label class="input-group-text" for="inputGroupSelect01">Brands</label>
                                                                                </div>
                                                                                <select class="custom-select" id="inputGroupSelect01" name="brandId">
                                                                                    <option selected>Choose...</option>
                                                                                    <% brandNames.forEach(function(item) { %>
                                                                                    <option value="<%= item.id%>"><%= item.brandName%></option>
                                                                                    <% }); %>
                                                                                </select>
                                                                            </div>
                                                                            <div class="input-group form-label-group d-flex align-items-center">
                                                                                <div class="input-group-prepend">
                                                                                    <label class="input-group-text" for="inputGroupSelect01">Categories</label>
                                                                                </div>
                                                                                <select class="custom-select" id="inputGroupSelect01" name="categoryId">
                                                            <option selected>Choose...</option>
                                                            <% categoryNames.forEach(function(item) { %>
                                                            <option value="<%= item.id%>"><%= item.categoryName%>
                                                            </option>
                                                            <% }); %>
                                                        </select>
                                                                            </div>
                                                                        </div>
                                                                        <button class="btn btn-lg btn-primary btn-block text-uppercase mt-3" type="submit">Add</button>
                                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </header>
                        </div>
                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <%- include("../footer/footer"); %>
                        <!-- End of Footer -->
            </div>
            <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        CKEDITOR.replace('editor');
    </script>
    <!-- Bootstrap core JavaScript-->
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/admin/js/demo/chart-area-demo.js"></script>
    <script src="/admin/js/demo/chart-pie-demo.js"></script>

</body>

</html>