<header class="header">



    <!-- Header Main -->
    <div class="header_main">
        <div class="container">
            <div class="row">

                <!-- Logo -->
                <div class="col-lg-2 col-sm-3 col-3 order-1">
                    <div class="logo_container">
                        <div class="logo"><a href="/">OneTech</a></div>
                    </div>
                </div>

                <!-- Search -->
                <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                    <div class="header_search">
                        <div class="header_search_content">
                            <div class="header_search_form_container" style="width: 65%;">
                                <form action="/search" class="header_search_form clearfix">
                                    <input type="search" required="required" class="header_search_input"
                                        style="width: 100%;" name="key" placeholder="Search for products...">
                                    <div class="custom_dropdown" hidden>
                                        <div class="custom_dropdown_list">
                                            <span class="custom_dropdown_placeholder clc">All Categories</span>
                                            <i class="fas fa-chevron-down"></i>
                                            <ul class="custom_list clc">
                                                <li><a class="clc" href="#">All Categories</a></li>
                                                <li><a class="clc" href="#">Computers </a></li>
                                                <li><a class="clc" href="#">Laptops</a></li>
                                                <li><a class="clc" href="#">Cameras</a></li>
                                                <li><a class="clc" href="#">Smartphones</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button type="submit" class="header_search_button trans_300" value="Submit"><i
                                            class="fas fa-search fa-2x" style="color: whitesmoke;"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Wishlist -->
                <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                    <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                        <!-- Cart -->
                        <div class="cart">
                            <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                <a href="/cart" class="text-decorection-none">
                                    <div class="cart_icon">
                                        <i class="fas fa-shopping-bag fa-3x" style="color:skyblue;"></i>
                                        <div class="cart_count"><span>0</span></div>
                                    </div>
                                    <div class="cart_content">
                                        <div class="cart_text"><a href="/cart">Cart</a></div>
                                        <div class="cart_price"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Navigation -->
    <nav class="main_nav">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="main_nav_content d-flex flex-row">

                        <!-- Categories Menu -->

                        <!-- <div class="cat_menu_container">
                            <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                                <div class="cat_burger"><span></span><span></span><span></span></div>
                                <div class="cat_menu_text">categories</div>
                            </div>

                            <ul class="cat_menu">
                                <li><a href="#">Computers & Laptops <i class="fas fa-chevron-right ml-auto"></i></a>
                                </li>
                                <li><a href="#">Cameras & Photos<i class="fas fa-chevron-right"></i></a></li>
                                <li class="hassubs">
                                    <a href="#">Hardware</i></a>

                                </li>
                                <li><a href="#">Smartphones & Tablets<i class="fas fa-chevron-right"></i></a></li>
                                <li><a href="#">TV & Audio<i class="fas fa-chevron-right"></i></a></li>
                                <li><a href="#">Car Electronics<i class="fas fa-chevron-right"></i></a></li>
                                <li><a href="#">Video Games & Consoles<i class="fas fa-chevron-right"></i></a></li>
                                <li><a href="#">Accessories<i class="fas fa-chevron-right"></i></a></li>
                            </ul>
                        </div> -->

                        <!-- Main Nav Menu -->

                        <div class="main_nav_menu ml-auto">
                            <ul class="standard_dropdown main_nav_dropdown" id="topMenu">
                                <li><a href="/">Home<i class="fas fa-chevron-down"></i></a></li>
                                <li class="hassubs">
                                    <a href="#">Prices from<i class="fas fa-chevron-down"></i></a>
                                    <ul>
                                        <li><a href="/filter-price/?from=0&to=100">Under $100<i
                                                    class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="/filter-price/?from=100&to=200">$100 - $200<i
                                                    class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="/filter-price/?from=200&to=400">$200 - $400<i
                                                    class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="/filter-price/?from=400&to=800">$400 - $800<i
                                                    class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="/filter-price/?from=800&to=99999">Over $800<i
                                                    class="fas fa-chevron-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="hassubs">
                                    <a href="#">Category<i class="fas fa-chevron-down"></i></a>

                                    <ul>
                                        <% categories.forEach(item => { %>
                                        <li><a href="/filter-category/<%=item.id%>"><%= item.categoryName %><i class=" fas
                                                fa-chevron-down"></i></a>
                                        </li>
                                        <%  }); %>
                                    </ul>

                                </li>
                                <li class="hassubs">
                                    <a href="#">Brands<i class="fas fa-chevron-down"></i></a>

                                    <ul>
                                        <% brands.forEach(item => { %>
                                        <li><a href="/filter-brand/<%=item.id%>"><%= item.brandName %><i class=" fas
                                                fa-chevron-down"></i></a>
                                        </li>
                                        <%  }); %>
                                    </ul>

                                </li>

                                <!-- <li class="hassubs">
                                    <a href="#">Pages<i class="fas fa-chevron-down"></i></a>
                                    <ul>
                                        <li><a href="/shop">Shop<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="/product">Product<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="/cart">Cart<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="href=" mailto:nguyenhongthai2403@gmail.com"">Contact<i
                                                    class="fas fa-chevron-down"></i></a></li>
                                    </ul>
                                </li> 
                                <li><a href="/blog">Blog<i class="fas fa-chevron-down"></i></a></li>-->
                                <li><a href="mailto:nguyenhongthai2403@gmail.com">Contact<i
                                            class="fas fa-chevron-down"></i></a></li>
                            </ul>
                        </div>

                        <!-- Menu Trigger -->

                        <div class="menu_trigger_container ml-auto">
                            <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                                <div class="menu_burger">
                                    <div class="menu_trigger_text">menu</div>
                                    <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </nav>

</header>