<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <!-- Custom fonts for this template-->
    <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <%- include("../sidebar/sidebar"); %>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <%- include("../topbar/topbar"); %>
            <!-- Main Content -->
            <div id="content">
                <div class="super_container">
                    <form action="/user/search" , method="GET" class="d-flex container mt-5 mb-3">
                        <input type="search" required="required" autofocus placeholder="Search..."
                            class="form-control w-50" name="key">
                        <button class="btn btn-primary ml-3"> Search User </button>
                    </form>
                    <div class="productInfomation container d-flex justify-content-around flex-column table-responsive">
                        <table class="table table-striped" style="color: black;">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Account</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Permission</th>
                                </tr>
                            </thead>
                            <div>
                                <% if(errors != "") { %>
                                <% errors.forEach((item) => { %>
                                <div class="alert alert-warning">
                                    <%-item%>
                                </div>
                                <% });%>
                                <% } %>
                            </div>
                            <div>
                                <% if(success != "") { %>
                                <% success.forEach((item) => { %>
                                <div class="alert alert-success">
                                    <%-item%>
                                </div>
                                <% });%>
                                <% } %>
                            </div>
                            <tbody>
                                <% user.forEach(function(item) {  %>
                                <tr>
                                    <td>
                                        <%= item.id %>
                                    </td>
                                    <td>
                                        <%= item.userName%>
                                    </td>
                                    <td>
                                        <%= item.account %>
                                    </td>
                                    <td>
                                        <%= item.phone %>
                                    </td>
                                    <td>
                                        <%= item.email %>
                                    </td>
                                    <td>
                                        <%= item.permission %>
                                    </td>
                                    <td>
                                        <a href="/user/update/<%= item.id %>" class="text-decorection-none">
                                            <button type="button" class="btn btn-primary updateUserName">Update</button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/user/delete/<%= item.id %>" class="text-decorection-none">
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/user/set-password/<%= item.id %>" class="text-decorection-none">
                                            <button type="button" class="btn btn-warning">Set.Password</button>
                                        </a>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <% if (page === 1 || page == 0){ %>
                            <li class="page-item disabled">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <%} else {%>
                            <li class="page-item">
                                <a class="page-link" href="../user/?page=<%=page-1 %>" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <%}%>
                        <% for(let i = 0; i < usersAll.length/6; i++) {%>
                            <li class="page-item"><a class="page-link" href="../user/?page=<%=i+1 %>"><%= i+1 %></a>
                            </li>
                            <% }; %>
                            <%if(page >= usersAll.length/6 || page == 0) {%>
                            <li class="page-item disabled">
                                <a class="page-link" href="../user/?page=<%=page+1 %>" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            <%} else{%>
                            <li class="page-item">
                                <a class="page-link" href="../user/?page=<%=page+1 %>" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            <%}%>
                    </ul>
                </nav>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include("../footer/footer"); %>
                            <!-- End of Footer -->
                </div>
                <!-- End of Content Wrapper -->
            </div>
            <!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="login.html">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <script>
            </script>
            <!-- Bootstrap core JavaScript-->
            <script src="/admin/vendor/jquery/jquery.min.js"></script>
            <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="/admin/js/sb-admin-2.min.js"></script>

            <!-- Page level plugins -->
            <script src="/admin/vendor/chart.js/Chart.min.js"></script>

            <!-- Page level custom scripts -->
            <script src="/admin/js/demo/chart-area-demo.js"></script>
            <script src="/admin/js/demo/chart-pie-demo.js"></script>

</body>

</html>