<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <!-- Custom fonts for this template-->
    <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <%- include("../sidebar/sidebar"); %>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <%- include("../topbar/topbar"); %>
            <!-- Main Content -->
            <div id="content">
                <div class="super_container">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                                <div class="card card-signin my-5">
                                    <div class="card-body">

                                        <div>
                                            <% if(errors != "") { %>
                                            <% errors.forEach((item) => { %>
                                            <div class="alert alert-danger">
                                                <%-item%>
                                            </div>
                                            <% });%>
                                            <% } %>
                                        </div>
                                        <div>
                                            <% if(success != "") { %>
                                            <% success.forEach((item) => { %>
                                            <div class="alert alert-success">
                                                <%-item%>
                                            </div>
                                            <% });%>
                                            <% } %>
                                        </div>
                                        <h5 class="card-title text-center">Update Information</h5>
                                        <form class="form-signin" action="/user/update-info/<%= inforUser.id%>"
                                            method="POST">
                                            <div class="form-label-group">
                                                <div>ID</div>
                                                <input type="text" id="inputName" class="form-control"
                                                    value="<%= inforUser.id %>" name="id" disabled>
                                            </div>
                                            <div class="form-label-group">
                                                <div>Name</div>
                                                <input type="text" id="inputName" class="form-control"
                                                    value="<%= inforUser.userName %>" name="userName" required
                                                    autofocus>
                                            </div>
                                            <div class="form-label-group">
                                                <div>Phone number</div>
                                                <input type="text" id="inputPhoneNumber" class="form-control"
                                                    value="<%= inforUser.phone %>" name="phone" required autofocus>
                                            </div>
                                            <div class="form-label-group">
                                                <div>Email address</div>
                                                <input type="email" id="inputEmail" class="form-control"
                                                    value="<%= inforUser.email %>" name="email" required autofocus>
                                            </div>
                                            <div class="form-label-group">
                                                <div>Account</div>
                                                <input type="text" id="inputUsername" class="form-control"
                                                    value="<%= inforUser.account %>" name="account" disabled>
                                            </div>
                                            <div class="form-label-group">
                                                <div>Permission</div>
                                                <input type="text" id="inputPermission" class="form-control"
                                                    value="<%= inforUser.permission %>" name="permission" disabled>
                                            </div>
                                            <button class="btn btn-lg btn-primary btn-block text-uppercase mt-3"
                                                type="submit">Update</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include("../footer/footer"); %>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
    <!-- Bootstrap core JavaScript-->
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/admin/js/demo/chart-area-demo.js"></script>
    <script src="/admin/js/demo/chart-pie-demo.js"></script>

</body>

</html>