<!DOCTYPE html>
<html lang="en">

<head>
    <title>OneTech</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/plugins/slick-1.8.0/slick.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles/responsive.css">

</head>

<body>

    <div class="super_container">

        <header class="header">

            <!-- Top Bar -->
            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex flex-row">
                            <div class="top_bar_contact_item">
                                <div class="top_bar_icon"><img src="images/images/phone.png" alt=""></div>+38 068 005 3570</div>
                            <div class="top_bar_contact_item">
                                <div class="top_bar_icon"><img src="images/images/mail.png" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a></div>
                            <div class="top_bar_content ml-auto">
                                <div class="top_bar_menu">
                                    <ul class="standard_dropdown top_bar_dropdown">
                                        <li>
                                            <a href="#">English<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li><a href="#">Italian</a></li>
                                                <li><a href="#">Spanish</a></li>
                                                <li><a href="#">Japanese</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">$ US dollar<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li><a href="#">EUR Euro</a></li>
                                                <li><a href="#">GBP British Pound</a></li>
                                                <li><a href="#">JPY Japanese Yen</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="top_bar_user">
                                    <div class="user_icon"><img src="images/images/user.svg" alt=""></div>
                                    <div><a href="/auth/register">Register</a></div>
                                    <div><a href="/auth/login">Sign in</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Main -->

            <!-- Main Navigation -->


            <!-- Menu -->


        </header>
        <form action="/brand/search" , method="GET" class="d-flex container mt-3 mb-3">
            <input type="search" , class="form-control w-50" name="search">
            <button class="btn btn-primary ml-3"> Search </button>
        </form>
        <div class="productInfomation container d-flex justify-content-around flex-column table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address/th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Status</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Total</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Option</th>
                            <th scope="col">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Id</td>
                        <td scope="row">Name</td>
                        <td scope="row">Adress</td>
                        <td scope="row">Phone</td>
                        <td scope="row">Email</td>
                        <td scope="row">Status</td>
                        <td scope="row">Discount</td>
                        <td scope="row">Total</td>
                        <td scope="row">
                            <a href="" class="text-decorection-none">Update</a>
                        </td>
                        <td scope="row">
                            <a href="" class="text-decorection-none">Delete</a>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>


    </div>

    <script src="/javascripts/js/jquery-3.3.1.min.js"></script>
    <script src="/stylesheets/styles/bootstrap4/popper.js"></script>
    <script src="/stylesheets/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/plugins/greensock/TweenMax.min.js"></script>
    <script src="/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/plugins/slick-1.8.0/slick.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="/javascripts/js/custom.js"></script>
</body>

</html>