<!DOCTYPE html>
<html lang="en">

<head>
    <title>OneTech</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/plugins/slick-1.8.0/slick.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/login.css">
    <script src="https://cdn.ckeditor.com/4.4.5.1/standard/ckeditor.js"></script>

</head>

<body>

    <div class="super_container">

        <header class="header">

            <!-- Top Bar -->
            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex flex-row">
                            <div class="top_bar_contact_item">
                                <div class="top_bar_icon"><img src="images/images/phone.png" alt=""></div>+38 068 005 3570</div>
                            <div class="top_bar_contact_item">
                                <div class="top_bar_icon"><img src="images/images/mail.png" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a></div>
                            <div class="top_bar_content ml-auto">
                                <div class="top_bar_menu">
                                    <ul class="standard_dropdown top_bar_dropdown">
                                        <li>
                                            <a href="#">English<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li><a href="#">Italian</a></li>
                                                <li><a href="#">Spanish</a></li>
                                                <li><a href="#">Japanese</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">$ US dollar<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li><a href="#">EUR Euro</a></li>
                                                <li><a href="#">GBP British Pound</a></li>
                                                <li><a href="#">JPY Japanese Yen</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="top_bar_user">
                                    <div class="user_icon"><img src="images/images/user.svg" alt=""></div>
                                    <div><a href="/auth/register">Register</a></div>
                                    <div><a href="/auth/login">Sign in</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Main -->

            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                        <div class="card card-signin my-5">
                            <div class="card-body">
                                <h5 class="card-title text-center">Update Product</h5>
                                <form class="form-signin" action="/auth/register">
                                    <div class="form-label-group">
                                        <input type="text" id="inputOrderID" class="form-control" placeholder="ID" required autofocus disabled>
                                        <label for="inputOrderID">ID</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" id="inputOrdertName" class="form-control" placeholder="Order Name" required autofocus>
                                        <label for="inputOrdertName">Name</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" id="inputPhone" class="form-control" placeholder="Number phone" required autofocus>
                                        <label for="inputPhone">Phone</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="file" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                                        <label for="inputEmail">Email</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" id="inputOrderStatus" class="form-control" placeholder="Status" required autofocus>
                                        <label for="inputOrderStatus">Status</label>
                                    </div>
                                    <div class="form-label-group mt-3">
                                        <input type="text" id="inputOrderDiscount" class="form-control" placeholder="Discount" required>
                                        <label for="inputOrderDiscount">Discount</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" id="inputTotal" class="form-control" placeholder="Total" required>
                                        <label for="inputTotal">Total</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" id="inputCustomer" class="form-control" placeholder="Customer" required>
                                        <label for="inputCustomer">Customer</label>

                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <script src="/javascripts/js/jquery-3.3.1.min.js"></script>
    <script src="/stylesheets/styles/bootstrap4/popper.js"></script>
    <script src="/stylesheets/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/plugins/greensock/TweenMax.min.js"></script>
    <script src="/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/plugins/slick-1.8.0/slick.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="/javascripts/js/custom.js"></script>
</body>

</html>