<!DOCTYPE html>
<html lang="en">

<head>
    <title>OneTech</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/plugins/slick-1.8.0/slick.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles/responsive.css">
</head>

<body>
    <div class="super_container" style="text-align:center">
        <!-- Header -->
        <%- include("./main/header/header"); %>
        <div class="noresultsuggestion" style="display: inline-block">
            <div style="text-align: left;">
                <img src=" /images/images/NoResult1x.jpg">
                <h3>To find more accurate results, please:</h3>
                <ul style="list-style-type: circle;">
                    <li>Check the spelling of the entered keywords</li>
                    <li>Try again with another keyword</li>
                    <li>Try again with more general keywords</li>
                    <li>Try again with more concise keywords</li>
                </ul>
            </div>
        </div>
        <!-- Footer -->
        <%- include ("./main/footer/footer"); %>
    </div>
    <script src="/javascripts/js/jquery-3.3.1.min.js"></script>
    <script src="/stylesheets/styles/bootstrap4/popper.js"></script>
    <script src="/stylesheets/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/plugins/greensock/TweenMax.min.js"></script>
    <script src="/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/plugins/slick-1.8.0/slick.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="/javascripts/js/custom.js"></script>
    <script src="/javascripts/js/add_to_cart.js"></script>
    <script src="/javascripts/js/product_detail.js"></script>
</body>

</html>