<div class="new_arrivals">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="tabbed_container">
                    <div class="tabs clearfix tabs-right">
                        <div class="new_arrivals_title" id="listOfProduct">List of Products</div>
                        <ul class="clearfix">
                            <li class="active">
                                All products
                            </li>
                        </ul>
                        <div class="tabs_line"><span></span></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="z-index:1;">
                            <!-- Product Panel -->
                            <div id="dataProduct" style="display: none;">
                                <%= jsonData %>
                            </div>
                            <!-- Product Panel -->
                            <div class="product_panel panel active">
                                <div class="arrivals_slider slider">

                                    <!-- Slider Item -->
                                    <% products.forEach(item => { %>
                                    <div class="arrivals_slider_item">
                                        <div class="border_active"></div>
                                        <div
                                            class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                                            <a href="/product-details" class="productDetail"
                                                style="text-decoration: none; outline: none; color: black;">
                                                <div
                                                    class="product_image d-flex flex-column align-items-center justify-content-center">
                                                    <img src="<%= item.image %>" width="115px" height="115px" alt="">
                                                </div>
                                                <div class="product_content">
                                                    <div class="product_promotion" style="color: red; font-size: 25px;">
                                                        $
                                                        <%= (item.price - item.promotion) %>
                                                    </div>
                                                    <div class="product_price">
                                                        <del>$<%= item.price %></del>
                                                    </div>
                                                    <% if(item.productName.length > 25){ %>
                                                    <div class="product_name">
                                                        <div>
                                                            <%= item.productName.substr(0,22) + '...' %>
                                                        </div>
                                                    </div>
                                                    <%} else {%>
                                                    <div class="product_name">
                                                        <div>
                                                            <%= item.productName %>
                                                        </div>
                                                    </div>
                                                    <%}%>
                                                </div>
                                            </a>
                                            <div class="product_extras">
                                                <a href="/cart">
                                                    <button class="product_cart_button">Add to Cart</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <%  }); %>
                                                </div>
                                                <div class="arrivals_slider_dots_cover"></div>
                                                <div>
                                                    <h3 style="color: blue; display: flex; justify-content: center;">
                                                        <%=errors%>
                                                    </h3>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>